 #issue-table table, table{
     table-layout: fixed;
     margin-top: 30px;
     margin-left: 10px;
     margin-right: 10px;
 }

 #issue-tabs {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;

 }

 #issue-table th, #issue-table td { word-wrap: break-word }

 #date-picker {
     margin-top: 80px;
 }