.table{
     table-layout: fixed;
     margin-top: 30px;
 }

.table th, .table td { word-wrap: break-word }

.date {
     margin-top: 80px;
 }

 .btn-status{
  visibility: hidden;
 }

 tr:hover .btn-status{
  visibility: visible;
 }